* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 40px;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerfirst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 40px;
}
header .headerfirst span {
  font-size: 14px;
  color: #b2b2b2;
  font-weight: 400;
}
header .headersecond {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
header .headersecond a {
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b2b2b2;
  font-weight: 400;
  width: 15%;
  min-height: 40px;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
  transition: 0.3s;
}
header .headersecond a:hover {
  color: #6c7ae0;
}

.navBar {
  width: 100%;
  min-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
}
.navBar .navbarCnt {
  width: 79%;
  display: flex;
  gap: 40px;
  position: relative;
}
.navBar .navbarCnt .navUl {
  position: relative;
  display: flex;
  gap: 13px;
}
.navBar .navbarCnt .navUl .homeLi a {
  font-size: 14px;
  font-weight: 500;
}
.navBar .navbarCnt .navUl .homeLi:hover .homeDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.navBar .navbarCnt .navUl .homeLi:hover .homeDropdown li {
  transition: 0.3s;
}
.navBar .navbarCnt .navUl .homeLi:hover .homeDropdown li:hover {
  color: #6c7ae0;
}
.navBar .navbarCnt .navUl .homeLi .homeDropdown {
  display: none;
  position: absolute;
  list-style: none;
  width: 45%;
  min-height: 120px;
}
.navBar .navbarCnt .navUl .navLi a {
  font-size: 14px;
  transition: 0.3s;
  font-weight: 500;
}
.navBar .navbarCnt .navUl .navLi a:hover {
  color: #6c7ae0;
}
.navBar .navbarCnt .searchAndCart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navBar .navbarCnt .searchAndCart i {
  font-size: 20px;
}
.navBar .navbarCnt .searchAndCart a {
  text-decoration: none;
  color: black;
}
.navBar .navbarCnt .searchAndCart .search {
  display: flex;
}
.navBar .navbarCnt .searchAndCart .search .searchBtn {
  border: none;
  background-color: transparent;
}
.navBar .navbarCnt .productSearch {
  background-color: white;
  position: absolute;
  padding-left: 20px;
  width: 100%;
  min-height: 0px;
  top: 50px;
}
.navBar .navbarCnt .productSearch .homeProds {
  width: 100%;
}
.navBar .navbarCnt .productSearch .homeProds img {
  width: 23%;
}
.navBar .navbarCnt .productSearch .homeProds h2 {
  font-size: 24px;
}
.navBar .navbarCnt .productSearch .homeProds button {
  background-color: #6c7ae0;
  color: white;
  border: none;
  width: 10%;
  min-height: 30px;
  border-radius: 15px;
  transition: 0.4s;
}
.navBar .navbarCnt .productSearch .homeProds button:hover {
  background-color: white;
  color: #6c7ae0;
  border: 1px solid #6c7ae0;
}

#newSeason {
  width: 100%;
  min-height: 663px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/slide-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#newSeason .newSeasonTxt {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#newSeason .newSeasonTxt span {
  font-size: 28px;
  font-weight: 400;
  color: #333333;
}
#newSeason .newSeasonTxt h2 {
  font-family: PlayfairDisplay-Bold;
  font-size: 60px;
  font-weight: 700;
  color: #333333;
}
#newSeason .newSeasonTxt a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  background-color: #6c7ae0;
  text-decoration: none;
  color: white;
  min-height: 40px;
  border-radius: 20px;
}

#ctgSection {
  width: 100%;
  min-height: 409px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ctgSection .ctgSectionTxt {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/images/banner-01.jpg);
  border: 1px solid rgba(128, 128, 128, 0.431);
}
#ctgSection .ctgSectionTxt .gender {
  display: flex;
  align-items: end;
  width: 80%;
  min-height: 80px;
  font-family: Poppins;
  font-size: 28px;
}
#ctgSection .ctgSectionTxt .season {
  display: flex;
  align-items: center;
  width: 80%;
}

#homeProdsSec {
  width: 100%;
  min-height: 805px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#homeProdsSec h3 {
  width: 85%;
  font-family: poppins;
  font-size: 36px;
}
#homeProdsSec .loadMore {
  background-color: #6c7ae0;
  color: white;
  border: none;
  width: 10%;
  min-height: 40px;
  border-radius: 15px;
  transition: 0.4s;
}
#homeProdsSec .loadMore:hover {
  background-color: white;
  color: #6c7ae0;
  border: 1px solid #6c7ae0;
}
#homeProdsSec .productsCtg {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#homeProdsSec .productsCtg .productsCtgFirst {
  display: flex;
  gap: 30px;
}
#homeProdsSec .productsCtg .filter {
  display: flex;
  gap: 10px;
}
#homeProdsSec .productsCtg .filter p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(107, 105, 105, 0.5411764706);
  min-width: 100px;
  min-height: 40px;
  gap: 5px;
}
#homeProdsSec .homeProdsCnt {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#homeProdsSec .homeProdsCnt .homeProds {
  width: 23%;
}
#homeProdsSec .homeProdsCnt .homeProds img {
  width: 100%;
}
#homeProdsSec .homeProdsCnt .homeProds h2 {
  font-size: 24px;
}
#homeProdsSec .homeProdsCnt .homeProds button {
  background-color: #6c7ae0;
  color: white;
  border: none;
  width: 20%;
  min-height: 30px;
  border-radius: 15px;
  transition: 0.4s;
}
#homeProdsSec .homeProdsCnt .homeProds button:hover {
  background-color: white;
  color: #6c7ae0;
  border: 1px solid #6c7ae0;
}

footer {
  width: 100%;
  min-height: 90px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer span {
  color: #888888;
  font-size: 14px;
}
footer span a {
  text-decoration: none;
}